@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --container-w: 94%;
    --container-w-l: 97%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  @screen sm {
    :root {
      --container-w: clamp(540px, 90%, 1280px);
      --container-w-l: clamp(540px, 95%, 1280px);
    }
  }
  @screen xl {
    :root {
      --container-w: clamp(1000px, 85%, 1530px);
    }
  }

  html {
    @apply text-secondary font-beVietnam;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.625rem;
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    overflow: visible;
  }
}

@layer components {
  a {
    text-decoration: inherit;
    cursor: pointer;
  }
  img {
    display: block;
    max-width: 100%;
  }

  button {
    @apply bg-primary;
    border-radius: 100px;
    padding: 12px 32px;
    font-size: 13px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: ease-in 0.3s;
    color: white;
    box-shadow: 0px 3px 7px 1px rgba(243, 96, 60, 0.3);
  }
  button:hover {
    background-color: #f98f75;
  }
}

.heading1 {
  @apply text-[40px] font-[700] leading-[50px] tracking-[-1px];
  @screen lg {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
  }
}
.heading2 {
  @apply text-[30px] leading-[45px] tracking-[-0.62px] font-[700];
  @screen lg {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.71px;
  }
}
.heading3,
.heading4 {
  @apply text-[16px] tracking-[-0.29] font-bold;
}
.paragraph {
  @apply text-[16px] leading-[26px] text-secondary/50;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav overlay  */
.bg-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.08%, rgba(0, 0, 0, 0.6) 99.95%);
}

/* mobile nav animation  */
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* hero  */
.hero-bg {
  background-image: url("/src/assets/pattern.png");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: top -100px right -100px;

  @screen sm {
    background-size: 100%;
    background-position: top -100px right -100px;
  }
  @screen md {
    background-size: 90%;
    background-position: top -250px right -100px;
  }

  @screen lg {
    background-size: 70%;
    background-position: top -200px right -300px;
  }

  @screen xl {
    background-size: 50%;
    background-position: top -300px right -300px;
  }

  @screen xxl {
    background-size: 40%;
    background-position: top -120px right 150px;
  }
}

.number {
  @apply text-white bg-primary py-[6px] px-[25px] rounded-full mr-5;
}

/* features  */
.features-bg {
  background-image: url("/src/assets/pattern.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top -40px right -160px;

  @screen sm {
    background-size: 50%;
    background-position: top -40px right -250px;
  }

  @screen lg {
    background-size: 50%;
    background-position: top 250px left -72%;
  }

  @screen xl {
    background-size: 40%;
    background-position: top 250px left -40%;
  }
  @screen xxl {
    background-size: 20%;
    background-position: top 250px left -15%;
  }
}

/* testimonial slider  */
.swiper-container {
  position: relative;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: white;
  outline: theme("colors.primary") 1px solid;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: theme("colors.primary");
  outline: theme("colors.primary") 1px solid;
}

.swiper-pagination {
  bottom: -5px !important;
}

@media screen and (min-width: 1200px) {
  .swiper-pagination {
    display: none;
  }
}

/* get started  */
.getstarted-bg::before {
  content: "";
  background-image: url("/src/assets/pattern.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: top 40px left -250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.07;
}

.social-icon:hover {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(1.2);
}
